body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-box {
    background-color: white;
    width: 750px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.top {
    font-weight: bold;
    font-size: 10px;
    color: #3B5998;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    font-size: 18px;
    color: #000;
    display: none;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #638e8e;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.left-section {
    display: flex;
    align-items: center;
    transition: margin-left 0.3s ease; 
}

.nameContainer {
    width: 100px;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}

.icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 72px;
}

.right-section {
    text-align: right;
}

.road{
    margin-top: -2rem;
    color: #fdcd1f;
}

.input-panel {
    width: 100%;
    font-family: monospace;
    font-size: 20px;
    background-color: #d1f1ff;
    border-radius: 10px;
    padding-top: 26px;
}

.text-display{
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
}


.display-format-trigger {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    color: #0055b0;
    text-decoration: none;
    cursor: pointer;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.display-format-trigger:hover{
    text-decoration: underline;
}

.text-input {
    width: 95%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 12px;
}

.help-icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url(icon/help.png) no-repeat -256px -24px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
}

.restart-button-container{
    margin-top: 20px;
    height: 50px;
}

.restart-button{
    background-color: #ffa500;
    border: none;
    color: white;
    width: 20%;
    height: 100%;
    border-radius: 4px;
    font-size: medium;
}

.restart-button:hover{
    background-color: #ef9b00;
}



/* Correct word in green */
.correct {
    color: green;
}

/* Incorrect word with red background */
.incorrect {
    background-color: red;
}

.blinker {
    display: inline-block;
    width: 2px;
    background-color: black;
    color: transparent;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}



.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 8px;
    animation: fadeIn 0.3s;
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-button {
    font-size: 24px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    align-self: flex-end;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #006ee4;
}

#fontFamilyInput {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

label {
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




.popup {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 60%;
    transform: translateX(-50%);
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10;
    padding: 16px;
    font-family: Arial, sans-serif;
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.popup-header .title {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.popup-header .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #999;
}

.popup-header .close-btn:hover {
    color: #333;
}

.popup-content {
    font-size: 14px;
    color: #555;
}

.help-icon:hover + .popup {
    display: block;
}