body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-box {
    background-color: white;
    width: 750px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.top {
    font-weight: bold;
    font-size: 10px;
    color: #3B5998;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    font-size: 18px;
    color: #000;
    display: none;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #638e8e;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.left-section {
    display: flex;
    align-items: center;
    transition: margin-left 0.3s ease; 
}

.nameContainer {
    width: 100px;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}

.icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 72px;
}

.right-section {
    text-align: right;
}

.road{
    margin-top: -2rem;
    color: #fdcd1f;
}

.input-panel {
    width: 100%;
    font-family: monospace;
    font-size: 20px;
    background-color: #d1f1ff;
    border-radius: 10px;
    padding-top: 26px;
}

.text-display{
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
}


.display-format-trigger {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    color: #0055b0;
    text-decoration: none;
    cursor: pointer;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.display-format-trigger:hover{
    text-decoration: underline;
}

.text-input {
    width: 95%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 12px;
}

.help-icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url(icon/help.png) no-repeat -256px -24px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
}

.restart-button-container{
    margin-top: 20px;
    height: 50px;
}

.restart-button{
    background-color: #ffa500;
    border: none;
    color: white;
    width: 20%;
    height: 100%;
    border-radius: 4px;
    font-size: medium;
}

.restart-button:hover{
    background-color: #ef9b00;
}



/* Correct word in green */
.correct {
    color: green;
}

/* Incorrect word with red background */
.incorrect {
    background-color: red;
}

.blinker {
    display: inline-block;
    width: 2px;
    background-color: black;
    color: transparent;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}